<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro name="youbot_gripper_transmission" params="name">

		<transmission name="${name}_finger_l_trans" type="pr2_mechanism_model/SimpleTransmission">
			<type>transmission_interface/SimpleTransmission</type>
			<actuator name="${name}_finger_l_motor">
			  <hardwareInterface>EffortJointInterface</hardwareInterface>
			  <mechanicalReduction>1</mechanicalReduction>
			</actuator>
			<joint name="${name}_finger_joint_l">
			  <hardwareInterface>EffortJointInterface</hardwareInterface>
			</joint>
			  <mechanicalReduction>1</mechanicalReduction>
		</transmission>
	
		<transmission name="${name}_finger_r_trans" type="pr2_mechanism_model/SimpleTransmission">
			<type>transmission_interface/SimpleTransmission</type>
			<actuator name="${name}_finger_r_motor">
			  <hardwareInterface>EffortJointInterface</hardwareInterface>
			  <mechanicalReduction>1</mechanicalReduction>
			</actuator>
			<joint name="${name}_finger_joint_r">
			  <hardwareInterface>EffortJointInterface</hardwareInterface>
			</joint>
			  <mechanicalReduction>1</mechanicalReduction>
		</transmission>

	</xacro:macro>

</robot>
